.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }
  
  .menu .logo{
    font-size: 24px;
    justify-content:flex-start;
    display: flex;
    align-items: center;
    
  }
  
  .navbar .menu {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  .navbar .menu-item {
    margin-left: 20px;
  }
  
  .navbar .menu-item a {
    color: #fff;
    text-decoration: none;
    font-family: Comfortaa;
  }
  
  @media (max-width: 767px) {
    .navbar .menu {
      justify-content: center;
    }
  
    .navbar .menu-item {
      margin: 10px;
    }
   
  }

  @media (min-width: 480px) {
    .navbar .menu {
      display: flex;
      justify-content:flex-end;
      align-items: center;
    }

    /* .navbar .logo{
      display: none;
    } */
  }
  
  @media (max-width: 480px) {
    .navbar .logo{
      display: none;
    }
  }